<form [formGroup]="templateForm" class="form-template">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/pdf-template']" fill="clear" color="primary" size="small">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        {{ templateId ? 'Editar' : 'Crear' }} Plantillas PDF
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="c-global-content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Configuración de plantilla</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="6">
              <ion-item>
                <ion-label position="stacked">Título de la Plantilla</ion-label>
                <ion-input formControlName="name" placeholder="Escribe aquí..."></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="12" size-md="6">
              <ion-item>
                <ion-label position="stacked">Tamaño de página</ion-label>
                <ion-select formControlName="pageSize" placeholder="Selecciona tamaño">
                  <ion-select-option value="carta">Carta</ion-select-option>
                  <ion-select-option value="media-carta">Media carta</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row class="card-cols-pdf" class="card-cols-pdf">
            <ion-col formArrayName="header" size="12" size-md="6">
              <ion-card-header>
                <ion-row>
                  <ion-col>
                    <ion-card-title>Encabezado</ion-card-title>
                  </ion-col>
                  <ion-col>
                    <ion-button size="small" color="primary" (click)="addHeaderColumn()"
                      *ngIf="headerColumns.controls.length <= 3">
                      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                      Agregar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-header>

              <ion-card *ngFor="let col of headerColumns.controls; let i = index" [formGroupName]="i">
                <ion-card-header>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-card-title>Columna {{ i + 1 }}</ion-card-title>
                      </ion-col>
                      <ion-col>
                        <ion-segment formControlName="type" [scrollable]="true" value="heart">
                          <ion-segment-button value="text">
                            <ion-label>Texto</ion-label>
                          </ion-segment-button>
                          <ion-segment-button value="image">
                            <ion-label>Imagen</ion-label>
                          </ion-segment-button>
                        </ion-segment>

                        <ion-button *ngIf="headerColumns.controls.length >1" size="small" fill="clear" color="danger"
                          (click)="removeHeaderColumn(i)">
                          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>

                <div>
                  <ion-card-content *ngIf="col.get('type')?.value === 'text'">
                    <ion-item>
                      <ion-label position="stacked">Texto</ion-label>
                      <ion-input formControlName="content" placeholder="Escribe aquí..."></ion-input>
                    </ion-item>

                    <ion-grid formGroupName="styles">
                      <ion-row>
                        <ion-col size="6" size-md="3">
                          <ion-item lines="none">
                            <ion-label>Bold</ion-label>
                            <ion-checkbox formControlName="bold" slot="start"></ion-checkbox>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6" size-md="3">
                          <ion-item lines="none">
                            <ion-label>Italic</ion-label>
                            <ion-checkbox formControlName="italic" slot="start"></ion-checkbox>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6" size-md="3">
                          <ion-item lines="none">
                            <ion-label>Viñeta</ion-label>
                            <ion-checkbox formControlName="bullet" slot="start"></ion-checkbox>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6" size-md="3">
                          <ion-item lines="none">
                            <ion-label>Color</ion-label>
                            <input formControlName="color" type="color" style="margin-left: 8px;">
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>

                  <ion-card-content *ngIf="col.get('type')?.value === 'image'">
                    <div class="drag-drop" (drop)="onFileDropped($event, col)" (dragover)="onDragOver($event)">
                      <p>Arrastra y suelta aquí o haz clic para seleccionar</p>
                      <input type="file" hidden (change)="onFileSelected($event, col)" #fileInput>
                      <ion-button expand="block" (click)="fileInput.click()">Seleccionar Imagen</ion-button>
                      <div>
                        <img *ngIf="col.get('content')?.value" [src]="col.get('content')?.value"
                          style="max-width:100%; margin-top:8px;">
                      </div>
                    </div>

                    <div formGroupName="styles" class="imege-measures">
                      <ion-item>
                        <ion-label position="stacked">Alto</ion-label>
                        <ion-input type="number" placeholder="Alto (px)" formControlName="height"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="stacked">Ancho</ion-label>
                        <ion-input type="number" placeholder="Ancho (px)" formControlName="width"></ion-input>
                      </ion-item>
                    </div>
                  </ion-card-content>
                </div>

              </ion-card>

            </ion-col>

            <ion-col size="12" size-md="6" formArrayName="footer">
              <ion-card-header>
                <ion-row>
                  <ion-col>
                    <ion-card-title>Pïe de página</ion-card-title>
                  </ion-col>
                  <ion-col>
                    <ion-button size="small" color="primary" (click)="addFooterColumn()"
                      *ngIf="footerColumns.controls.length <= 3">
                      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                      Agregar
                    </ion-button>
                  </ion-col>
                </ion-row>

              </ion-card-header>

              <ion-card *ngFor="let col of footerColumns.controls; let i = index" [formGroupName]="i" size="12">
                <ion-card-header>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-card-title>Columna {{ i + 1 }}</ion-card-title>
                      </ion-col>
                      <ion-col>
                        <ion-segment formControlName="type" [scrollable]="true" value="heart">
                          <ion-segment-button value="text">
                            <ion-label>Texto</ion-label>
                          </ion-segment-button>
                          <ion-segment-button value="image">
                            <ion-label>Imagen</ion-label>
                          </ion-segment-button>
                        </ion-segment>

                        <ion-button *ngIf="footerColumns.controls.length >1" size="small" fill="clear" color="danger"
                          (click)="removeFooterColumn(i)">
                          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>

                <div>

                  <ion-card-content *ngIf="col.get('type')?.value === 'text'">
                    <ion-item>
                      <ion-label position="stacked">Texto</ion-label>
                      <ion-input formControlName="content" placeholder="Escribe aquí..."></ion-input>
                    </ion-item>

                    <ion-grid formGroupName="styles">
                      <ion-row>
                        <ion-col size="6" size-md="3">
                          <ion-item lines="none">
                            <ion-label>Bold</ion-label>
                            <ion-checkbox formControlName="bold" slot="start"></ion-checkbox>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6" size-md="3">
                          <ion-item lines="none">
                            <ion-label>Italic</ion-label>
                            <ion-checkbox formControlName="italic" slot="start"></ion-checkbox>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6" size-md="3">
                          <ion-item lines="none">
                            <ion-label>Viñeta</ion-label>
                            <ion-checkbox formControlName="bullet" slot="start"></ion-checkbox>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6" size-md="3">
                          <ion-item lines="none">
                            <ion-label>Color</ion-label>
                            <input formControlName="color" type="color" style="margin-left: 8px;">
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>

                  <ion-card-content *ngIf="col.get('type')?.value === 'image'">
                    <div class="drag-drop" (drop)="onFileDropped($event, col)" (dragover)="onDragOver($event)">
                      <p>Arrastra y suelta aquí o haz clic para seleccionar</p>
                      <input type="file" hidden (change)="onFileSelected($event, col)" #fileInput>
                      <ion-button expand="block" (click)="fileInput.click()">Seleccionar Imagen</ion-button>
                      <div>
                        <img *ngIf="col.get('content')?.value" [src]="col.get('content')?.value"
                          style="max-width:100%; margin-top:8px;">
                      </div>
                    </div>

                    <div formGroupName="styles" class="imege-measures">
                      <ion-item>
                        <ion-label position="stacked">Alto</ion-label>
                        <ion-input type="number" placeholder="Alto (px)" formControlName="height"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="stacked">Ancho</ion-label>
                        <ion-input type="number" placeholder="Ancho (px)" formControlName="width"></ion-input>
                      </ion-item>
                    </div>
                  </ion-card-content>
                </div>

              </ion-card>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card class="watermark" [formGroup]="watermarkGroup">
      <ion-card-header>
        <ion-row>
          <ion-col>
            <ion-card-title>Marca de agua</ion-card-title>
            <ion-checkbox [formControl]="watermark"></ion-checkbox>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>

      </ion-card-header>

      <ion-card-content *ngIf="watermark.value">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="6">
              <div class="range-group">
                <ion-item>
                  <ion-label position="stacked">Alto</ion-label>
                  <ion-input formControlName="height" placeholder="Alto (px)"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">Ancho</ion-label>
                  <ion-input formControlName="width" placeholder="Ancho (px)"></ion-input>
                </ion-item>
              </div>

              <div class="range-group border-none">
                <ion-label>Opacidad</ion-label>
                <ion-range formControlName="opacity" class="pt-0" aria-label="Opacity" [pin]="true"
                  [pinFormatter]="pinOpacity">
                  <ion-label slot="start">0%</ion-label>
                  <ion-label slot="end">100%</ion-label>
                </ion-range>
              </div>
            </ion-col>

            <ion-col size="12" size-md="6">
              <div class="drag-drop" (drop)="onFileDroppedWatermark($event)" (dragover)="onDragOver($event)">
                <p>Arrastra y suelta aquí o haz clic para seleccionar</p>
                <input type="file" accept="image/*" hidden (change)="onFileSelectedWatermark($event)" #fileInput>
                <ion-button expand="block" (click)="fileInput.click()">Seleccionar Imagen</ion-button>
                <div>
                  <img *ngIf="watermarkGroup.get('image')?.value" [src]="watermarkGroup.get('image')?.value">
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Vista previa</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="c-content-pdf" [ngStyle]="{
                  'background-image': 'url(' + templateForm.get('watermark')?.value.image + ')',
                  'background-repeat': 'no-repeat',
                  'background-position': 'center',
                  'background-size': 
                      templateForm.get('watermark')?.value.width + 'px ' + 
                      templateForm.get('watermark')?.value.height + 'px',
                }">
                <div class="info">
                  <h1>Titulo: <span>{{templateForm.get('name')?.value}}</span></h1>
                  <h1>Tamaño: <span>{{templateForm.get('pageSize')?.value}}</span></h1>
                </div>


                <h1>Cabecera:</h1>
                <div class="header">
                  <ng-container *ngFor="let col of templateForm.value.header">
                    <div [ngStyle]="{
                      'font-weight': col.styles.bold ? 'bold' : 'normal',
                      'font-style': col.styles.italic ? 'italic' : 'normal',
                      'color': col.styles.color,
                      'list-style-type': col.styles.bullet ? 'disc' : 'none',
                      'padding-left': col.styles.bullet ? '1rem' : '0',
                      'padding': '0.5rem',
                      'height': col.styles.height + 'px'
                    }">
                      <ng-container *ngIf="col.type === 'text'">
                        {{ col.content || '(sin contenido)' }}
                      </ng-container>

                      <ng-container *ngIf="col.type === 'image'">
                        <img *ngIf="col.type === 'image'" [src]="col.content" [style.width.px]="col.styles.width"
                          [style.height.px]="col.styles.height">
                      </ng-container>
                    </div>
                  </ng-container>
                </div>

                <h1>Pie de página:</h1>
                <div class="header">
                  <ng-container *ngFor="let col of templateForm.value.footer">
                    <div [ngStyle]="{
                      'font-weight': col.styles.bold ? 'bold' : 'normal',
                      'font-style': col.styles.italic ? 'italic' : 'normal',
                      'color': col.styles.color,
                      'list-style-type': col.styles.bullet ? 'disc' : 'none',
                      'padding-left': col.styles.bullet ? '1rem' : '0',
                      'padding': '0.5rem',
                      'height': col.styles.height + 'px'
                    }">
                      <ng-container *ngIf="col.type === 'text'">
                        {{ col.content || '(sin contenido)' }}
                      </ng-container>

                      <ng-container *ngIf="col.type === 'image'">
                        <img *ngIf="col.type === 'image'" [src]="col.content" [style.width.px]="col.styles.width"
                          [style.height.px]="col.styles.height">
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button size="small" color="success" (click)="exportPDF()">
            <ion-icon slot="start" name="arrow-down-circle-outline"></ion-icon>
            Descargar PDF
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button size="small" color="primary" (click)="logForm()">
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-content>
</form>