<div class="c-global-content">
  <ion-card-header class="back-header-with-button">
    <ion-button size="small" fill="clear" color="primary" [routerLink]="['pdf-template']">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-card-title>
      {{templateId ? 'Editar' : 'Crear'}} Plantillas PDF
    </ion-card-title>
  </ion-card-header>

  <ion-card class="editor-header">
    <ion-card-header>
      <ion-card-title>Configuración de plantilla</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="stacked">Título de la Plantilla</ion-label>
              <ion-input placeholder="Escribe aquí..."></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="stacked">Tamaño de página</ion-label>
              <ion-select placeholder="Selecciona tamaño">
                <ion-select-option value="carta">Carta</ion-select-option>
                <ion-select-option value="media-carta">Media carta</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row class="card-cols-pdf">
          <ion-col size="6">
            <ion-card-header>
              <ion-row>
                <ion-col>
                  <ion-card-title>Encabezado</ion-card-title>
                </ion-col>
                <ion-col>
                  <ion-button size="small" color="primary">
                    <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                    Agregar
                  </ion-button>
                </ion-col>
              </ion-row>

            </ion-card-header>
            <ion-card>
              <ion-card-header>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-card-title>Columna 1</ion-card-title>
                    </ion-col>
                    <ion-col>
                      <ion-segment [scrollable]="true" value="heart">
                        <ion-segment-button value="text">
                          <ion-label>Texto</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="image">
                          <ion-label>Imagen</ion-label>
                        </ion-segment-button>
                      </ion-segment>

                      <ion-button size="small" fill="clear" color="danger">
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>

              <ion-card-content>
                <ion-item>
                  <ion-label position="stacked">Texto</ion-label>
                  <ion-input placeholder="Escribe aquí..."></ion-input>
                </ion-item>

                <ion-grid>
                  <ion-row>
                    <ion-col size="3">
                      <ion-item lines="none">
                        <ion-label>Bold</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                      </ion-item>
                    </ion-col>
                    <ion-col size="3">
                      <ion-item lines="none">
                        <ion-label>Italic</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                      </ion-item>
                    </ion-col>
                    <ion-col size="3">
                      <ion-item lines="none">
                        <ion-label>Viñeta</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                      </ion-item>
                    </ion-col>
                    <ion-col size="3">
                      <ion-item lines="none">
                        <input type="color">
                        <ion-label>Color</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

          </ion-col>
          <ion-col size="6">
            <ion-card-header>
              <ion-row>
                <ion-col>
                  <ion-card-title>Pïe de página</ion-card-title>
                </ion-col>
                <ion-col>
                  <ion-button size="small" color="primary">
                    <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                    Agregar
                  </ion-button>
                </ion-col>
              </ion-row>

            </ion-card-header>
            <ion-card>
              <ion-card-header>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-card-title>Columna 1</ion-card-title>
                    </ion-col>
                    <ion-col>
                      <ion-segment [scrollable]="true" value="heart">
                        <ion-segment-button value="text">
                          <ion-label>Texto</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="image">
                          <ion-label>Imagen</ion-label>
                        </ion-segment-button>
                      </ion-segment>

                      <ion-button size="small" fill="clear" color="danger">
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>

              <ion-card-content>
                <ion-item>
                  <ion-label position="stacked">Texto</ion-label>
                  <ion-input placeholder="Escribe aquí..."></ion-input>
                </ion-item>

                <ion-grid>
                  <ion-row>
                    <ion-col size="3">
                      <ion-item lines="none">
                        <ion-label>Bold</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                      </ion-item>
                    </ion-col>
                    <ion-col size="3">
                      <ion-item lines="none">
                        <ion-label>Italic</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                      </ion-item>
                    </ion-col>
                    <ion-col size="3">
                      <ion-item lines="none">
                        <ion-label>Viñeta</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                      </ion-item>
                    </ion-col>
                    <ion-col size="3">
                      <ion-item lines="none">
                        <input type="color">
                        <ion-label>Color</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>