<ion-card>
  <ion-card-header>
    <ion-card-title>Plantillas PDF</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="table-header">
        <ion-col size="4">Nombre</ion-col>
        <ion-col size="3">Formato</ion-col>
        <ion-col size="2">Páginas</ion-col>
        <ion-col size="3">Acciones</ion-col>
      </ion-row>

      <ion-row *ngFor="let template of templates" class="table-row">
        <ion-col size="4">{{ template.name }}</ion-col>
        <ion-col size="3">{{ template.type }}</ion-col>
        <ion-col size="2">{{ template.pages }}</ion-col>
        <ion-col size="3" class="actions">
          <ion-button size="small" fill="clear" color="primary">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="clear" color="danger">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>