.table-header {
  font-weight: 500;
  letter-spacing: 1px;
  background: #473874c7;
  border-bottom: 1px solid #ccc;
  padding: 8px 8px;
  color: white;
}

ion-row {
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid #473874c7;
}

ion-button {
  margin-right: 4px;
}
