/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

/*
 * Adiciones para global.scss
 * Añadir estas líneas al final de tu archivo global.scss existente
 */
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* Eliminar el espacio por encima del header en todas las páginas */
ion-header {
  --ion-toolbar-padding-top: 0;
}

/* Eliminar el botón del menú, ya que nuestro menú es fijo */
ion-menu-button {
  display: none;
}

/* Ajustar la estructura para el nuevo diseño con menú lateral fijo */
ion-app {
  max-width: 100vw;
  max-height: 100vh;

  /* Eliminar cualquier margen o padding indeseado */
  --ion-safe-area-top: 0px;
  --ion-safe-area-bottom: 0px;
}

/* Clases para mayúsculas y capitalización */
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* Ajustar el espaciado general de contenido */
.content-container {
  padding: 16px;
}

/* Ajustes adicionales para folder page */
#container {
  margin-left: 0 !important;
  /* Asegurar que el contenedor central esté bien posicionado */
}

/* Personalización para scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--ion-color-medium-rgb), 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--ion-color-medium-rgb), 0.7);
}

/* Animaciones suaves para todos los elementos */
* {
  transition-timing-function: ease-in-out;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  padding-top: 16px;
  // margin: -16px -16px 0 -16px;
  // padding-bottom: 8px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-fill-outline {
  min-height: 48px;
}

.textarea-fill-outline {
  min-height: 40px;
}

.input-fill-outline.sc-ion-input-md-h {
  min-height: 48px;
}

.native-textarea.sc-ion-textarea-md-h {
  padding: 0px;
  min-height: 20px;
}

.textarea-wrapper.sc-ion-textarea-md {
  min-height: 40px;
  line-height: 14px;
}

.cal-week-view .cal-time-events .cal-event {
  padding: 2px;
  font-size: 10px;
  line-height: 0.9;
}

.action-sheet-group.sc-ion-action-sheet-md {
  background: var(--ion-color-light-tint);
}

.c-global-content {
  padding: 55px 10px 55px 10px !important;
}

ion-title,
ion-card-title {
  font-weight: 600;
  color: #473874c7;
}

.header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  ion-button {
    --border-radius: 8px;
    --padding-start: 12px;
    --padding-end: 12px;
  }
}

.back-header-with-button {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;

  ion-card-title {
    margin: 0;
  }
}

.card-cols-pdf {
  ion-card-header {
    padding: 0 15px;

    ion-row {
      >ion-col:nth-child(2) {
        display: flex;
        justify-content: flex-end;
      }
    }

    ion-grid {
      margin: 0;

      ion-row {

        >ion-col {
          img {
            width: 300px !important;
          }
        }

        ion-col:nth-child(1) {
          display: flex;
          align-items: center;
        }

        ion-col:nth-child(2) {
          position: relative;
          display: flex;
          justify-content: end;
          padding-right: 40px;

          ion-button {
            font-size: 18px;
            position: absolute;
            right: -10px;
            top: -8px;
          }

          ion-segment-button {
            height: 28px !important;
            min-height: unset;
          }

          ion-label {
            margin: 0;
            padding-bottom: 20px;
            font-size: 12px;
          }
        }
      }
    }
  }

  ion-card-content {
    ion-grid {
      input {
        margin-right: 15px;
      }
    }
  }
}

.border-none {
  border: none !important;
}

.watermark {
  .range-group {
    display: flex;
    margin-bottom: 20px;

    >ion-label {
      width: 70px;
    }

    display: flex;
    align-items: center;
    gap: 15px;
  }

  ion-card-header {
    padding: 10px 15px;

    ion-row {
      ion-col {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
  }

  ion-col:nth-child(2) {
    display: flex;
    justify-content: center;

    img {
      margin: 10px;
      width: 300px;
    }
  }
}

.c-content-pdf {
  border: 1px solid #473874c7;
  height: 500px;
}

.btns-actions {
  display: flex;
  justify-content: space-between;
}

::placeholder {
  font-size: 12px;
}

.drag-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    margin-bottom: 10px;
  }

  >div {
    display: flex;
    justify-content: center !important;

    img {
      margin-top: 10px;
      width: 200px;
    }
  }
}

.imege-measures {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.c-content-pdf {
  background: white;
  padding: 20px;
  color: black;
  height: auto;
  min-height: 400px;

  h1 {
    font-size: 20px;
    margin: 20px 0 0 0;
    color: #414142c7;
    font-weight: 600;
  }

  .info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #414142c7;
    padding-bottom: 10px;

    h1 {
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;

      span {
        color: #414142c7;
        font-weight: 500;
      }
    }
  }

  .header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 0 0 30px 0;
  }
}

.form-template {
  height: calc(100vh - 50px);
}